.chip-element{
    margin: 0 0.5rem;

}
ion-card{
width: 90%;
margin: 2rem auto;

}

.content{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}
.btn-timer{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}